html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
}

// 头部导航

.header-nav {
  margin-bottom: 1rem;
  background-color: #fff;
  @include hairline-bottom($border-color);
  @extend .nav-fill;

  .nav-item {
    margin-bottom: 0; // hairline不占据已有的空间
  }

  .nav-link {
    font-size: .875rem;
    padding-left: .375rem;
    padding-right: .375rem;
  }

  .active {
    opacity: .8;
  }
}

// 统计栏

.stat-nav {
  padding-left: 0;
  list-style: none;
  background-color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: .875rem;
}

.stat-num {
  display: block;
}

// 图标列表

.list-col-icon {
  flex: 0 0 24px;
}

.list-icon {
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background: #ff9900;
}
