// Buttons

/* 兼容没有btn-default的情况 */
.btn-default {
  @extend .btn-secondary;
  @include hairline($border-color, $btn-border-radius);
}

.btn-md {
  font-size: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn-fluid {
  border-radius: 0;
  border: 0;
  width: 100%;
  font-size: 16px;
  height: 44px;
  display: block;
  line-height: 32px; /* 链接需要指定高度才能上下居中,按钮无需 */
}

// Modal

.modal-dialog {
  max-width: 100%;
  margin: $modal-dialog-margin-y-sm-up;
}

.modal-body-fluid {
  padding: 0;
}

.modal-footer-fluid {
  padding: 0;
  border-top: 0;
}

.modal-footer-fluid > .btn-fluid {
  margin-left: 0; /* 抵消.modal-footer > :not(:first-child) */
  margin-right: 0; /* 抵消.modal-footer > :not(:last-child) */
}

// Bootbox(deprecated)

/* Bootbox支持在modal上弹窗 */
.bootbox {
  z-index: $zindex-modal+1;
}

.bootbox + .modal-backdrop {
  z-index: $zindex-modal;
}
