/* stylelint-disable declaration-no-important */

.text-xs {
  font-size: .75rem !important;
}

.text-sm {
  font-size: .875rem !important;
}

.text-md {
  font-size: 1rem !important;
}

.text-lg {
  font-size: 1.125rem !important;
}

/* stylelint-enable declaration-no-important */
