// Modal

.modal-dialog {
  max-width: 100%;
  margin: $modal-dialog-margin-y-sm-up;
}

.modal-body-fluid {
  padding: 0;
}

.modal-footer-fluid {
  padding: 0;
  border-top: 0;
}

.modal-footer-fluid > .btn-fluid {
  margin-left: 0; /* 抵消.modal-footer > :not(:first-child) */
  margin-right: 0; /* 抵消.modal-footer > :not(:last-child) */
}
