.search-form {
  padding: 16px 10px 10px 10px;
  margin-bottom: 16px;
}

.search-form::after {
  display: table;
  content: " ";
  clear: both;
}

.search-form .form-group {
  margin-bottom: 0;
}

.search-form > .form-group::before,
.search-form > .form-group::after {
  display: none;
}

/* 表单项换行时，上下留出空白 */
.search-form > .form-group .control-label,
.search-form > .form-group div {
  margin-bottom: 10px;
}

@media (min-width: 767px) {
  .search-form .control-label {
    padding-right: 0;
    padding-left: 0;
  }
}
